/* 1-style.css */

/* Appliquer un défilement fluide */
html {
  scroll-behavior: smooth;
}

/* Autres styles CSS que tu peux ajouter */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Exemples de styles pour les autres éléments */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-menu {
  list-style: none;
}

.navbar-menu .nav-item {
  display: inline-block;
  margin-right: 20px;
}
